<v-app>
	<v-app-bar app flat absolute dark color="primary" loading>
		<v-toolbar-title>{{name}}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn text>
      <v-icon left>mdi-send</v-icon>Submit</v-btn>
	</v-app-bar>
	<v-main>
		<v-container v-if="loadingError" fluid>
			<p>{{loadingError}}</p>
		</v-container>
		<v-container v-else fluid>
      <v-form>
				<v-row>
					<v-col cols="12" md="3">
						<h3 class="primary--text mb-3">{{sheets.commonItems}}</h3>
						<v-row>
							<v-col>
								<template v-for="item in commonFormItems">
									<v-select :key="item.key" v-if="item.type === 'single' || item.type === 'multiple'"
										:label="item.label" :type="item.type" :prepend-icon="item.icon"
										v-model="item.value" :items="item.items" :multipe="item.type === 'multiple'">
									</v-select>
									<v-autocomplete :key="item.key" v-else-if="item.type === 'autocomplete'"
										:label="item.label" :type="item.type" :prepend-icon="item.icon"
										v-model="item.value" :items="item.items">
									</v-autocomplete>
									<v-text-field :key="item.key" v-else-if="item.type === 'number'" :label="item.label"
										:type="item.type" :prepend-icon="item.icon" v-model.number="item.value">
									</v-text-field>
									<v-text-field :key="item.key" v-else :label="item.label" :type="item.type"
										:prepend-icon="item.icon" v-model.trim="item.value"></v-text-field>
								</template>
							</v-col>
						</v-row>
					</v-col>
					<v-col cols="12" md="9">
						<h3 class="primary--text mb-3">{{sheets.repeatItems}}</h3>
						<v-row>
							<v-col>
								<v-row v-for="(selectedItem, i) in selectedItems" :key="i">
									<v-col v-for="item in selectedItem" class="">
										<v-select v-if="item.type === 'single' || item.type === 'multiple'"
											:label="item.label" :type="item.type" :prepend-icon="item.icon"
											v-model="item.value" :items="item.items"
											:multipe="item.type === 'multiple'"></v-select>
										<v-autocomplete v-else-if="item.type === 'autocomplete'" :label="item.label"
											:type="item.type" :prepend-icon="item.icon" v-model="item.value"
											:items="item.items">
											<template v-slot:selection="data">
												{{ data.item.text }}
											</template>
											<template v-slot:item="data">
												<template v-if="typeof data.item !== 'object'">
													<v-list-item-content v-text="data.item"></v-list-item-content>
												</template>
												<template v-else>
													<v-list-item-content>
														<v-list-item-title v-html="data.item.text"></v-list-item-title>
														<v-list-item-subtitle v-html="data.item.itemNo">
														</v-list-item-subtitle>
													</v-list-item-content>
												</template>
											</template>
										</v-autocomplete>
										<v-text-field v-else-if="item.type === 'number'" :label="item.label"
											:type="item.type" :prepend-icon="item.icon" v-model.number="item.value">
										</v-text-field>
										<v-text-field v-else :label="item.label" :type="item.type"
											:prepend-icon="item.icon" v-model.trim="item.value"></v-text-field>
									</v-col>
									<v-col class="">
										<v-btn icon color="primary" dark class="mt-3" @click="addSelectedItem(i)">
											<v-icon>mdi-plus</v-icon>
										</v-btn>
										<v-btn icon color="error" dark class="mt-3" @click="removeSelectedItem(i)"
											:disabled="i === 0">
											<v-icon>mdi-minus</v-icon>
										</v-btn>
									</v-col>
								</v-row>
							</v-col>
						</v-row>
					</v-col>
			</v-form>
		</v-container>
	</v-main>
</v-app>