<v-app>
	<?!= include("header.html") ?>
	<v-main>
		<v-container v-if="loadingError" fluid>
			<v-card outlined flat>
				<v-card-title>Loading Error</v-card-title>
				<v-card-text>
					<p color="error">{{loadingError}}</p>
				</v-card-text>
			</v-card>
		</v-container>
		<v-container v-else fluid>
			<v-card flat>
				<v-card-text>
					<v-form :disabled="submitting" ref="form">
						<v-row>
							<v-col cols="12" md="4">
								<v-card outlined :loading="submitting">
									<template slot="progress">
										<v-progress-linear color="primary" height="3" indeterminate></v-progress-linear>
									</template>
									<v-card-title>{{sheets.commonItems}}</v-card-title>
									<v-card-text>
										<v-row>
											<v-col>
												<template v-for="item in commonFormItems">
													<v-select outlined dense :key="item.key"
														v-if="item.type === 'single' || item.type === 'multiple'"
														:label="item.label" :type="item.type" :prepend-icon="item.icon"
														v-model="item.value" :items="item.items"
														:multipe="item.type === 'multiple'">
													</v-select>
													<v-autocomplete outlined dense :key="item.key"
														v-else-if="item.type === 'autocomplete'" :label="item.label"
														:type="item.type" :prepend-icon="item.icon" v-model="item.value"
														:items="item.items">
													</v-autocomplete>
													<v-text-field outlined dense :key="item.key"
														v-else-if="item.type === 'number'" :label="item.label"
														:type="item.type" :prepend-icon="item.icon"
														v-model.number="item.value">
													</v-text-field>
													<v-text-field outlined dense :key="item.key" v-else
														:label="item.label" :type="item.type" :prepend-icon="item.icon"
														v-model.trim="item.value">
													</v-text-field>
												</template>
											</v-col>
										</v-row>
									</v-card-text>
								</v-card>
							</v-col>
							<v-col cols="12" md="8">
								<v-card outlined :loading="submitting">
									<template slot="progress">
										<v-progress-linear color="primary" height="3" indeterminate></v-progress-linear>
									</template>
									<v-card-title>{{sheets.repeatItems}}</v-card-title>
									<v-card-text>
										<v-row>
											<v-col class="mt-3">
												<v-row v-for="(selectedItem, i) in selectedItems" :key="i">
													<v-col v-for="(item, index) in selectedItem" :key="item.key"
														class="my-0 py-0">
														<v-select outlined dense
															v-if="item.type === 'single' || item.type === 'multiple'"
															:label="item.label" :type="item.type"
															:prepend-icon="item.icon" v-model="item.value"
															:items="item.items" :multipe="item.type === 'multiple'">
														</v-select>
														<v-autocomplete outlined dense
															v-else-if="item.type === 'autocomplete'" :label="item.label"
															:type="item.type" :prepend-icon="item.icon"
															v-model="item.value" :items="item.items" item-value="itemNo"
															style="width: 35vw;">

															<template v-slot:selection="data">
																{{data.item.itemNo}} - {{data.item.text}}
															</template>

															<template v-slot:item="data">
																<template v-if="typeof data.item !== 'object'">
																	<v-list-item-content v-text="data.item">
																	</v-list-item-content>
																</template>
																<template v-else>
																	<v-list-item-content>
																		<v-list-item-title v-html="data.item.text">
																		</v-list-item-title>
																		<v-list-item-subtitle
																			v-html="`${data.item.itemNo} - $${data.item.price}`">
																		</v-list-item-subtitle>
																	</v-list-item-content>
																</template>
															</template>
														</v-autocomplete>
														<v-text-field outlined dense v-else-if="item.type === 'number'"
															:label="item.label" :type="item.type"
															:prepend-icon="item.icon" v-model.number="item.value">
														</v-text-field>
														<v-text-field outlined dense v-else :label="item.label"
															:type="item.type" :prepend-icon="item.icon"
															v-model.trim="item.value"></v-text-field>
													</v-col>
													<div class="mx-3">
														<v-btn color="primary" icon @click="addSelectedItem(i)"
															:disabled="submitting">
															<v-icon>mdi-plus</v-icon>
														</v-btn>
														<v-btn color="error" icon @click="removeSelectedItem(i)"
															:disabled="i === 0 || submitting">
															<v-icon>mdi-minus</v-icon>
														</v-btn>
													</div>
												</v-row>
											</v-col>
										</v-row>
									</v-card-text>
									<v-card-actions class="pb-4 px-4">
										<v-spacer></v-spacer>
										<v-chip label outlined color="secondary" class="ml-4">Selected:
											{{selectedItems.length}}</v-chip>
										<v-chip label outlined color="secondary" class="ml-4">Total Qty: {{totalQty}}
										</v-chip>
										<v-chip label outlined color="secondary" class="ml-4">Total Price:
											{{totalPrice}}</v-chip>
									</v-card-actions>
							</v-col>
						</v-row>
					</v-form>
				</v-card-text>
			</v-card>
		</v-container>
	</v-main>
	<?!= include("footer.html") ?>
	<?!= include("snackbar.html") ?>
	</template>
</v-app>