<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      html {
        overflow: auto;
      }
    </style>
  </head>

  <body>
    <div class="d-none" id="app-data" app-data="<?= appData ?>"></div>
    <div id="app">
      <v-app>
        <v-app-bar flat app class="mx-3" color="grey lighten-3">
          <v-toolbar-title class="primary--text"> Mailman </v-toolbar-title>
          <v-progress-linear
            :active="loading"
            :indeterminate="loading"
            absolute
            top
            color="primary accent-1"
          ></v-progress-linear>
          <v-spacer></v-spacer>
          <v-switch
            v-model="enabled"
            :label="enabled ? 'ON' : 'OFF'"
            @change="toggleMailman"
            dense
            class="mt-0 px-3"
            :color="enabled ? 'primary' : 'grey'"
            :disabled="loading"
            hide-details
          ></v-switch>
          <v-btn @click="saveSettings" color="primary" text :disabled="loading">
            <v-icon left>mdi-content-save</v-icon>
            Save
          </v-btn>
          <v-btn @click="sendTestEmail" color="error" text :disabled="loading">
            <v-icon left>mdi-email-send</v-icon>
            Test
          </v-btn>
          <v-btn color="primary" @click="refresh" text :disabled="loading">
            <v-icon left>mdi-refresh</v-icon>
            Refresh
          </v-btn>
        </v-app-bar>
        <v-main>
          <v-container fluid>
            <v-form ref="form" :disabled="loading" class="my-4">
              <v-row>
                <v-col cols="12" class="py-0">
                  <v-autocomplete
                    v-model="formData.mailman.value"
                    :label="formData.mailman.label"
                    :items="formData.mailman.items"
                    :rules="formData.mailman.rules"
                    @change="onMailmanChange"
                    dense
                    filled
                    small-chips
                    background-color="grey lighten-5"
                    @focus="showEmails=true"
                    :hint="showEmails ? '' : 'Click to show the mailman details'"
                    persistent-hint
                  ></v-autocomplete>
                </v-col>
                <template v-show="formData.mailman.value && showEmails">
                  <v-col
                    cols="6"
                    class="py-0"
                    v-for="(item, index) in mailmanItems"
                    :key="index"
                    v-show="showEmails"
                  >
                    <v-text-field
                      v-model="item.value"
                      :label="item.label"
                      :rules="[v => !!v || 'This is required', v => /^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/g.test(v) || 'Invalid email address']"
                      dense
                      outlined
                      background-color="warning lighten-5"
                      hint="Comma separated email addresses"
                    >
                    </v-text-field>
                  </v-col>
                </template>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="formData.subject.value"
                    :label="formData.subject.label"
                    :rules="formData.subject.rules"
                    :hint="formData.subject.hint"
                    dense
                    filled
                    :hint="formData.subject.hint"
                    background-color="grey lighten-5"
                    :prepend-inner-icon="formData.subject.icon"
                    @focus="showEmails=false"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" class="py-0">
                  <v-text-field
                    v-model="formData.cc.value"
                    :label="formData.cc.label"
                    :rules="formData.cc.rules"
                    :hint="formData.cc.hint"
                    dense
                    filled
                    background-color="grey lighten-5"
                    :prepend-inner-icon="formData.cc.icon"
                    @focus="showEmails=false"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" class="py-0">
                  <v-text-field
                    v-model="formData.bcc.value"
                    :label="formData.bcc.label"
                    :rules="formData.bcc.rules"
                    :hint="formData.bcc.hint"
                    dense
                    filled
                    background-color="grey lighten-5"
                    :prepend-inner-icon="formData.bcc.icon"
                    @focus="showEmails=false"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-textarea
                    v-model="formData.body.value"
                    :label="formData.body.label"
                    :rules="formData.body.rules"
                    :hint="formData.body.hint"
                    rows="3"
                    auto-grow
                    dense
                    filled
                    background-color="grey lighten-5"
                    :prepend-inner-icon="formData.body.icon"
                    @focus="showEmails=false"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-main>
        <v-snackbar
          v-model="snackbar.show"
          :timeout="snackbar.timeout"
          :color="snackbar.color"
          dark
        >
          {{ snackbar.message }}
          <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar.show = false" icon>
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
        </v-snackbar>
        <v-footer app class="mx-3" color="grey lighten-3">
          <small>
            Copyright &copy; Ashton Fei {{new Date().getFullYear()}}
          </small>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            small
            href="https://youtube.com/ashtonfei/"
            target="_blank"
            >YouTube</v-btn
          >
          <v-btn
            color="blue"
            text
            small
            href="https://twitter.com/ashton_fei/"
            target="_blank"
          >
            Twitter
          </v-btn>
          <v-btn
            color="primary"
            text
            small
            href="https://www.youtube.com/watch?v=Wqovh6QT77I"
            target="_blank"
          >
            Help
          </v-btn>
        </v-footer>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      const FORM_DATA = {
        mailman: {
          value: null,
          label: "Mailman Field",
          items: [],
          rules: [(v) => !!v || "This is required"],
          icon: "",
        },
        subject: {
          value: null,
          label: "Subject",
          rules: [(v) => !!v || "This is required"],
          icon: "",
        },
        body: {
          value: null,
          label: "Body",
          rules: [(v) => !!v || "This is required"],
          icon: "",
        },
        cc: {
          value: null,
          label: "CC",
          hint: "Comma separated email addresses",
          rules: [
            (v) =>
              !v ||
              (v &&
                /^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/.test(
                  v
                )) ||
              "Invalid email address",
          ],
          icon: "",
        },
        bcc: {
          value: null,
          label: "BCC",
          hint: "Comma separated email addresses",
          rules: [
            (v) =>
              !v ||
              (v &&
                /^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/.test(
                  v
                )) ||
              "Invalid email address",
          ],
          icon: "",
        },
      };

      function copyFormData(formData) {
        const data = JSON.parse(JSON.stringify(formData));
        Object.keys(formData).forEach((key) => {
          if (formData[key].rules) data[key].rules = formData[key].rules;
        });
        return data;
      }

      function getFormData(formData) {
        const data = {};
        Object.entries(formData).forEach(
          ([key, value]) => (data[key] = value.value)
        );
        return data;
      }

      function request(api, payload = {}) {
        payload = JSON.stringify(payload);
        return new Promise((resolve, reject) => {
          google.script.run
            .withSuccessHandler((res) => resolve(JSON.parse(res)))
            .withFailureHandler((err) => reject(err))
            [api](payload);
        });
      }
    </script>
    <script>
      const vuetify = new Vuetify({
        theme: {
          themes: {
            light: {
              primary: "#479F2D",
              secondary: "#424242",
              accent: "#82B1FF",
              error: "#FF5252",
              info: "#2196F3",
              success: "#479F2D",
              warning: "#FFC107",
            },
          },
        },
      });
      new Vue({
        el: "#app",
        vuetify,
        data: () => ({
          loading: false,
          snackbar: {
            message: "This is a demo message",
            show: false,
            color: "primary",
            timeout: 5000,
          },
          settings: {},
          emails: {},
          formItems: [],
          mailmanItems: [],
          formData: copyFormData(FORM_DATA),
          enabled: false,
          showEmails: false,
        }),
        computed: {},
        methods: {
          startLoading() {
            this.loading = true;
            this.showEmails = false;
          },
          showSnackbar(message, color = "error", timeout = 5000) {
            this.snackbar = {
              message: message,
              color,
              timeout,
              show: true,
            };
            this.loading = false;
          },
          loadAppData(appData) {
            this.settings = appData.settings;
            this.emails = appData.emails;
            this.formItems = appData.formItems;
            this.enabled = appData.enabled;
            this.formData.mailman.items = this.formItems.filter(
              (v) => v.value.items
            );
            const mailman = appData.settings.mailman
              ? appData.formItems.find(
                  (item) => item.value.id == appData.settings.mailman.id
                )
              : null;
            this.formData.mailman.value = mailman ? mailman.value : null;
            this.formData.subject.value = this.settings.subject;
            this.formData.body.value = this.settings.body;
            this.formData.cc.value = this.settings.cc;
            this.formData.bcc.value = this.settings.bcc;
            const placeholders = this.formItems.map((v) => `{{${v.text}}}`);
            this.formData.subject.hint = `Available placeholders ${placeholders.join(
              ", "
            )}`;
            this.formData.body.hint = `Available placeholders ${placeholders.join(
              ", "
            )}`;
            this.onMailmanChange();
            this.showSnackbar("Settings have been loaded!", "primary");
          },
          onMailmanChange() {
            this.mailmanItems = this.formData.mailman.value.items
              .sort()
              .map((item) => ({ label: item, value: this.emails[item] }));
            this.showEmails = true;
            this.$refs.form.resetValidation();
          },
          async saveSettings() {
            this.showEmails = true;
            const isFormValid = await this.$refs.form.validate();
            if (!isFormValid) {
              return this.showSnackbar("Form is invalid to submit!", "error");
            }
            this.startLoading();
            const settings = getFormData(this.formData);
            const emails = {};
            this.mailmanItems.forEach(
              (item) => (emails[item.label] = item.value)
            );
            const payload = { settings, emails };
            try {
              await request("saveSettings", payload);
              this.showSnackbar("Settings have been saved!", "success");
            } catch (err) {
              this.showSnackbar(err.message);
            }
          },
          async sendTestEmail() {
            this.showEmails = true;
            const isFormValid = await this.$refs.form.validate();
            if (!isFormValid) {
              return this.showSnackbar("Form is invalid to submit!", "error");
            }
            this.startLoading();
            const settings = getFormData(this.formData);
            const emails = {};
            this.mailmanItems.forEach(
              (item) => (emails[item.label] = item.value)
            );
            const payload = { settings, emails };
            try {
              await request("sendTestEmail", payload);
              this.showSnackbar("Test email has been sent!", "success");
            } catch (err) {
              this.showSnackbar(err.message);
            }
          },
          async toggleMailman() {
            this.startLoading();
            try {
              await request("toggleMailman", { toggle: this.enabled });
              this.showSnackbar(
                `Mailman has been turned ${this.enabled ? "ON" : "OFF"}!`,
                "primary"
              );
            } catch (err) {
              this.enabled = !this.enabled;
              this.showSnackbar(err.message, "error");
            }
          },
          async refresh() {
            this.startLoading();
            try {
              const appData = await request("getAppData");
              this.loadAppData(appData);
              this.showSnackbar("Settings have been refreshed!", "success");
            } catch (err) {
              this.showSnackbar(err.message, "error");
            }
          },
        },
        mounted() {
          const divAppData = document.getElementById("app-data");
          const appData = JSON.parse(divAppData.getAttribute("app-data"));
          this.loadAppData(appData);
        },
      });
    </script>
  </body>
</html>
